/*Add CSS styles here*/
#map {
    height: 400px;
    width: 100%;
    display: inline-block;
}
.sequence-control-container {  
    width: 350px;  
    height: 35px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  
.range-slider {  
    width: 250px;  
}  

.step {  
    width: 45px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
}  

#forward {
    float: right;
    
}
    
#reverse {  
    float: left;  
    
}
.legend-control-container {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    max-height: auto; 
    max-width: 400px; /* Adjust as needed */
}

/* Style for legend title */
.legend-title {
    font-weight: normal;
    margin-bottom: 5px;
}

/* Style for legend items */
.legend-item {
    margin-bottom: 5px;
}

/* Style for legend item color squares */
.legend-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

/* Style for legend item labels */
.legend-label {
    display: inline-block;
    vertical-align: middle;
}